.coin-info {
  padding: 10px;
}

.coin-title {
  font-size: 24px;
}

.coin-price {
  font-size: 22px;
}

.change-up {
  color: #093
}

.change-down {
  color: #D14836;
}

.coin-details-title {
  font-size: 16px;
  font-weight: 700;
}

.coin-details-content {
  font-size: 20px;
  margin-top: -9px;
}

mat-card {
  height: 132px;
}