.card-content {
  margin: 0 auto;
  max-width: 940px;
}

.card-content > h5 {
  margin: 20px 0 0 10px;
}

mat-card {
  margin: 10px;
}

.mat-list-item {
  padding: 5px 0px;
}

.info-list {
  font-size: 18px;
}

.info-list > div {
  margin: 10px;
}

.table-card mat-card-content {
  padding: 0;
}

.change-up {
  color: #093
}

.change-down {
  color: #D14836;
}