<mat-toolbar color="primary">
  <span>About</span>
</mat-toolbar>
<div class="card-content">
  <mat-card>
    <mat-card-title>
      <mat-icon class="mat-icon-logo">trending_up</mat-icon>
      <span class="mat-title">CryptoInvestor</span>
    </mat-card-title>
    <mat-card-subtitle>Cryptocurrency portfolio</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>System consisting of Web API and SPA website, which allows to register account, create own cryptocurrency portfolio and manage it. System also show real-time coins price and history from external API.</p>
      <p> Develop by: 
        <a mat-raised-button href="http://jaskiewicz.tech" target="_blank" color="primary">Maciej Jaśkiewicz</a>
      </p>
      <p> Source code of SPA: 
        <a mat-raised-button href="https://github.com/maciejjaskiewicz/cryptoinvestor-spa" target="_blank" class="git-button">GitHub</a>
      </p>
      <p> Source code of API: 
        <a mat-raised-button href="https://github.com/maciejjaskiewicz/cryptoinvestor-api" target="_blank" class="git-button">GitHub</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>